/* ========|| Custom Properties ||======== */
:root {
  --clr-primary: hsl(322, 100%, 66%);

  --clr-neutral-100: hsl(0, 0%, 96%);
  --clr-neutral-200: hsl(193, 100%, 96%);
  --clr-neutral-500: hsl(208, 11%, 55%);
  --clr-neutral-800: hsl(192, 100%, 9%);

  --fw-regular: 400;
  --fw-bold: 700;

  --ff-accent: Poppins, sans-serif;
  --ff-base: "Open Sans", sans-serif;

  --spacing-xsmall: 0.25rem;
  --spacing-small: 0.5em;
  --spacing-regular: 1em;
  --spacing-medium: 2em;
  --spacing-large: 3em;
  --spacing-xlarge: 4em;
  --spacing-xxlarge: 6em;
  --spacing-massive: 10em;

  --fs-base: 1.125rem;
  --fs-200: 0.75rem;
  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.25rem;
}

/* ===============|| Reset ||============= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  vertical-align: middle;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
p {
  overflow-wrap: break-word;
  max-width: 60ch; /* or 75ch */
  text-wrap: pretty; /*prevent alone words*/
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  line-height: 1.1;
  text-wrap: balance;
}

/* ========|| General Style ||========= */
body {
  font-family: var(--ff-base);
  font-size: var(--fs-base);
  text-align: center;
}

/* ==========|| Header Style ||========== */
.header {
  display: flex;
  justify-content: space-between;
  padding-block: var(--spacing-medium) var(--spacing-xlarge);
}
.header__logo {
  max-width: 5em;
}

/* ===========|| Main Style ||=========== */
.hero__container {
  background: url(images/bg-hero-mobile.svg) no-repeat;
  background-size: cover;
  background-color: var(--clr-neutral-200);
}
.hero {
  display: grid;
  gap: var(--spacing-large);
  padding-bottom: var(--spacing-medium);
  padding-inline: var(--spacing-regular);
}
.hero__content {
  display: grid;
  gap: var(--spacing-medium);
}
.features {
  display: grid;
  gap: var(--spacing-medium);
  margin-block: var(--spacing-large) var(--spacing-massive);
}
.feature {
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
  border-radius: 1em;
  padding: var(--spacing-medium);
  display: grid;
  gap: var(--spacing-xlarge);
}
.feature__title {
  margin-bottom: var(--spacing-regular);
  font-size: var(--fs-700);
}
.feature__description {
  font-size: var(--fs-500);
  color: var(--clr-neutral-500);
}

/* ==========|| Button Style ||========== */
.button {
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
  border: none;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 100vh;
}
.button--cta-secondary {
  padding: 0.5em 2em;
  background-color: var(--clr-neutral-100);
}
.button--cta-primary {
  background-color: var(--clr-primary);
  padding: 0.75em 4em;
  margin-inline: auto;
  color: var(--clr-neutral-100);
}

/* ==========|| footer Style ||========== */
.footer {
  background-color: var(--clr-neutral-800);
  color: var(--clr-neutral-100);
  padding-block: var(--spacing-xxlarge) var(--spacing-medium);
  text-align: start;
  position: relative;
}

.footer__cta {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 50%;
  top: -6.5em;

  padding: var(--spacing-large) var(--spacing-medium);
  border-radius: 0.75em;
  background-color: var(--clr-neutral-100);

  font-size: var(--fs-600);
  font-weight: var(--fw-bold);
  text-align: center;
  text-wrap: nowrap;
  color: var(--clr-neutral-800);

  transform: translate(-50%);

  gap: var(--spacing-regular);
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.05);
}

.footer__grid {
  display: grid;
  gap: var(--spacing-large);
}
.footer__page-logo {
  filter: brightness(0) invert(1);
  max-width: 10em;
  margin-bottom: var(--spacing-regular);
}
.footer__contact-info {
  display: grid;
  gap: var(--spacing-regular);
}
.footer__contact-info > * {
  display: grid;
  grid-template-columns: 1em 1fr;
  gap: var(--spacing-regular);
}
.footer__nav {
  display: grid;
  gap: var(--spacing-regular);
}
.footer__nav ul {
  display: grid;
  gap: var(--spacing-regular);
}
.footer__nav li {
  list-style: none;
}
.footer__social-media {
  display: flex;
  gap: var(--spacing-regular);
  justify-content: center;
  margin-bottom: var(--spacing-regular);
}
.footer__copyright {
  font-size: var(--fs-200);
  text-align: center;
}
/* ============|| Utilities ||=========== */
.inline-wrapper {
  padding-inline: var(--spacing-regular);
}

/* ===========|| Breakpoints ||========== */
@media (min-width: 600px) {
  .footer__cta {
    padding: var(--spacing-large) var(--spacing-xxlarge);
  }
}

/* button shadow  left-right/ down-up/ blur/ spread */
/* box-shadow: inset 0px -2px 0px 1px rgba(0,0,0,0.4); */
